<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message from CV Application</title>
</head>
<body>
    <div style="background-color: #222222; padding: 2rem 1rem 1rem 1rem;">
        <img style="margin-bottom: 1.5rem" src="https://live.staticflickr.com/65535/52878025719_33d8718fd6_t.jpg" width="124" height="44" alt=""/>
        <p style="padding-left: 1rem; font-size: 1.2rem; color: #ffffff; margin-bottom: 1.5rem"><%= message %></p>
        <p style="padding-left: 1rem; color: #ffffff">From: <%= username %></p>
        <p style="padding-left: 1rem; color: #ffffff">Email: <a style="color: #ffffff" href="<%= email %>"><%= email %></a></p>
    </div>
</body>
</html>