<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message from CV Application</title>
</head>
<body>
<div style="background-color: #222222; padding: 2rem 1rem 1rem 1rem;">
    <p style="padding-left: .5rem; font-size: 1.3rem; color: #ffffff; margin-bottom: 1rem">Dear, <span style="color: #ffffff"><%= username %></span></p>
    <p style="padding-left: .5rem; font-size: 1.2rem; color: #ffffff">Thanks for the opportunity! Your contact details and details of the offer were sent to me by mail through the form on the site.</p>
    <p style="padding-left: .5rem; font-size: 1.2rem; color: #ffffff">I am very interested in your offer and I hope that my profile is suitable for this job. If you have further questions or need more information, please let me know.</p>
    <p style="padding-left: .5rem; font-size: 1.2rem; color: #ffffff">Once again, thanks for your time and attention.</p>
    <p style="padding-left: .5rem; font-size: 1.1rem; color: #ffffff">Best wishes,</p>
    <p style="padding-left: .5rem; font-size: 1.1rem; font-weight: bold; color: #ffffff; margin-bottom: 0">Ruslan Synytsia</p>
    <p style="padding-left: .5rem; font-size: .75rem; color: #ffffff"><a style="color: #ffffff" href="synytsiaruslan@gmail.com">synytsiaruslan@gmail.com</a></p>
</div>
</body>
</html>
